<section class="post">
  <img src="/images/{{post.filename}}" alt="{{post.description}}">
  <div class="post-details">
    <h3>{{post.title}}</h3>
    <p>Username: {{post.creator}}</p>
  </div>
</section>